<!-- <mat-dialog-content> -->
    <mat-card class="register-form justify-content-center  light-background">
        <mat-card-header>
            <mat-card-title class="form-title dark-text anson-font">Please Register</mat-card-title>
        </mat-card-header>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-card-content>
            <form class="form-signup  light-background dark-text anson-font" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="inputUsername" class="">Username:</label>
                    <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control"
                        placeholder="Username" required="" autofocus="">
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="">Email:</label>
                    <input type="text" id="inputEmail" [formControlName]="'email'" class="form-control" placeholder="Email"
                        required="" autofocus="">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="">Password:</label>
                    <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control"
                        placeholder="Password" required="">
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword" class="">Confirm Password:</label>
                    <input type="password" id="inputConfirmPassword" [formControlName]="'confirmPassword'"
                        class="form-control" placeholder="Confirm Password" required="">
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-block form-signup" type="submit">Sign up</button>
            </form>
        </mat-card-content>
    </mat-card>
<!-- </mat-dialog-content> -->