/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Anson-Regular;
    src: url(assets/fonts/Anson-Regular.otf) format("opentype");
}

html, body { height: 100%;}
body { margin: 0; font-family: 'Anson-Regular', 'arial', sans-serif; }

.mat-snack-bar-container{
    color:#595957;
    background-color: #E1E1E1;
}

.dark-background{
    background: #595957;
}
.light-background{
    background:#E1E1E1
}
.dark-text{
    color: #595957;
}
.light-text{
    color: #E1E1E1;
}
.green-background{
    background: #6BB02F;
}
.hover-background:hover{
    background-color:#E1E1E1;
    color: #595957;
}

.anson-font{
    font-family: 'Anson-Regular', 'arial', sans-serif;
}
