HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
myblog/logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### Maven ###
.mvn
mvnw
mvnw.cmd

### Eclipse ###
.metadata

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### UI ###

# compiled output
myblog-ui/dist
myblog-ui/tmp
myblog-ui/out-tsc

# dependencies
myblog-ui/node_modules
