<mat-toolbar class="green-background light-text toolbar">
    <mat-toolbar-row class="mat-elevation-z12" role="heading">
        <div class="col-md-2">
            <a href="/home" class="title anson-font btn btn-default">My Blog</a>
        </div>
        <div class="col-md-6">
            <a mat-button href="/add-post" class="add-post anson-font header-button dark-text hover-background" *ngIf="isAuthenticatedUser()">Add Post</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <a mat-button href="/login" class="login anson-font header-button dark-text hover-background" *ngIf="!isAuthenticatedUser()">Login</a>
            <a mat-button href="/login" class="login anson-font header-button dark-text hover-background" *ngIf="isAuthenticatedUser()" (click)="logout()">Logout</a>
            <a mat-button href="/register" class="register anson-font header-button dark-text hover-background" *ngIf="!isAuthenticatedUser()">Register</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="green-background toolbar-placeholder"></mat-toolbar>

