<mat-toolbar class=" toolbar mat-elevation-z12 green-background light-text">
    <mat-toolbar-row role="heading">
        <div class="col-md-2">
            <a href="/home" class="title anson-font btn btn-default">My Blog</a>
        </div>
        <div class="col-md-6">
            <a mat-button href="/add-post" class="add-post anson-font header-button dark-text hover-background" *ngIf="isAuthenticatedUser()">Add Post</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3" *ngIf="!isAuthenticatedUser()">
            <a mat-button href="/login" class="login anson-font header-button dark-text hover-background">Login</a>
            <a mat-button href="/register" class="register anson-font header-button dark-text hover-background">Register</a>
        </div>
        <div class="col-md-3" *ngIf="isAuthenticatedUser()">
            <a mat-button href="/login" class="login anson-font header-button dark-text hover-background" (click)="logout()">Logout</a>
            <a mat-button href="/profile" class="register anson-font header-button dark-text hover-background">Profile</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="green-background toolbar-placeholder"></mat-toolbar>

