<mat-toolbar class="toolbar">
    <mat-toolbar-row class="mat-elevation-z12" role="heading">
        <div class="a col-md-6">
            <a href="" class="title btn btn-default">My Blog</a>
        </div>
        <div class="b col-md-4"></div>
        <div class="c col-md-2">
            <a href="" class="login btn btn-default">Login</a>
            <a href="/register" class="register btn btn-default">Register</a>
        </div> <!-- Login and Register -->
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="toolbar-placeholder"></mat-toolbar>

